@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@600&display=swap");
@import url("../Components/var.css");

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
  background: var(--bg-primary);
  font-family: var(--font-family);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* scroll bar */

/* For webkit-based browsers */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(9, 0, 14);
}

::-webkit-scrollbar-thumb {
  background: rgb(56, 0, 128);
  background: linear-gradient(94deg, #770fff 19%, #f61cc3 86%);
  border-radius: 10px;
}
