@import url("../var.css");

.Techs {
  padding: 6rem 0;
  background-color: var(--bg-secundary);
}

.parTech {
  padding: 0 1rem;
  text-align: center;
  color: var(--cor-secundaria);
}

.cardImagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.cardImg {
  display: flex;
  flex: 1 1 200px;
  padding: 3rem 0rem;
  border-radius: 8px;
  gap: 1.8rem;
  justify-content: center;
  transition: 0.4s ease-in;
  background-color: var(--bg-primary);
}

.cardImg:hover {
  transform: scale(1.03);
  border: 1px solid var(--cor-lines);
}

.cardImg img {
  max-width: 30%;
}

@media screen and (max-width: 855px) {
  .cardImagens {
    justify-content: center;
  }
}

@media screen and (max-width: 625px) {
  .cardImagens {
    gap: 0.6rem;
  }
  .cardImg {
    max-width: 260px;
    padding: 3rem 0rem;
  }
}
